*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}


.logo{
    width: 50%;
}
.logo img{
  width: 100px; 
}
nav{
    width: 50%;
    height: 50px;
    /* z-index: 100;    */
    background-color: rgb(4, 41, 1);
    margin-right: 40px;
    border-radius: 12px;
}
ul{
    display: flex;
     list-style: none;
     justify-content: space-around;
     align-items: center;
     
}

li a{
     color: white;
    text-decoration: none;
    display: flex;
    font-size: 20px;
    padding-top: 10px;
    
}
li a:hover{
    color: rgb(190, 126, 43);
}

.first-section {
  height: 700px;;
  background: url( https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEiGCuInNweVgXiDbzypw93Z58JETFnApxUqgrFwRN_95Y-z454VLoX4SguJ6jXNEGFSimdxhwOzmBT8ydiM4pASxogKTyco8MM_IGDjn19LIqkDWhJuM6JPecziHtSEZnCXyY7_aqlDBkEW/w1200-h630-p-k-no-nu/wp3720759.jpg);
  background-size: cover;
  top: 0;
  width: 100%;
  align-items: center;
  padding: 0 60px;
  color: white;
  position: absolute;
  z-index: 1;
}


.first-section::before {
  content: "";
  position: absolute;
  top: 0;
   left: 0;
  width: 100%; 
  height: 100%;
  background: rgba(0,0,0,0.4); 
}

.box {
  
  z-index: 2;
  /* max-width: 600px; */
}



header {
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  z-index: 10;
}
.box h1{
 /* position: absolute; */
    margin-top: 340px;
   font-size: 60px;
}
.box button{

   padding: 10px;
  background-color: #d8cb15;
  border: none;
  border-radius: 10px;
  font-size: 20px;

}
button{
  cursor: pointer;
}
.span1{
  background-color: black;
  padding: 2px 5px;
  color: white;
}
.second-section{
  margin-top: 680px;
  text-align: center;
}
.box1{
  display: flex;
  justify-content: space-between;
}
.card1{
  text-align: center;

  margin-left: 10px;
  margin-top: 100px;
}
.card2{
  text-align: center;

  margin-top: 100px;
}
.card3{
  text-align: center;

  margin-top: 100px;
}
.card4{
  text-align: center;

  margin-top: 100px;
  margin-right: 10px;
}
.span{
  background-color: #d8cb15;
  display:none;
}
.car-card button{
  /* position: absolute; */
   padding: 10px;
  background-color: #d8cb15;
  border: none;
  border-radius: 5px;
  font-size: 20px;
}
button span{
  border-radius: 5px;
}
.third-section{
  margin-top: 130px;
  border: 2px solid black;
  overflow: hidden;
}
.car-card{
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  /* overflow: hidden; */
  justify-content: space-between;
}
.car-card h3{
  margin-top: 10px;
}
.car-box{
  margin-top: 20px;
  scrollbar-width: none;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(5,1fr);
  overflow-y: hidden;
  overflow-x: scroll;
  /* border: 2px solid black; */
}
.car-sub-card1{
  padding-bottom: 20px;
  margin-left: 30px;
width: 560px;
margin-top: 20px;
overflow: hidden;
border-radius: 20px;
background-color: gainsboro;
 /* border: 2px solid black; */
}
.car-sub-card1 .img{
  margin-top: 30px;
}
.car-sub-card1 .img:hover{
   
  transform: scale(1.1);
  transition: 2s;
}
.car-sub-card2{
width: 560px;
margin-top: 20px;
overflow: hidden;
border-radius: 20px;
background-color: gainsboro;
 /* border: 2px solid black; */
}
/* .car-sub-card2 .img{
  margin-top: 30px;
} */
.car-sub-card2 .img:hover{
   
  transform: scale(1.1);
  transition: 2s;
}
.car-sub-card3{
  padding-top: 20px;
  /* margin-left: 30px;
  margin-right: 30px; */
width: 560px;
margin-top: 20px;
overflow: hidden;
border-radius: 20px;
background-color: gainsboro;
 /* border: 2px solid black; */
}
/* .car-sub-card3 .img{
  margin-top: 30px;
} */
.car-sub-card3 .img:hover{
   
  transform: scale(1.1);
  transition: 2s;
}
.car-sub-card4{
  padding-top: 30px;
  /* margin-left: 30px;
  margin-right: 30px; */
width: 560px;
margin-top: 20px;
overflow: hidden;
border-radius: 20px;
background-color: gainsboro;
 /* border: 2px solid black; */
}
/* .car-sub-card4 .img{
  margin-top: 30px;
} */
.car-sub-card4 .img:hover{
   
  transform: scale(1.1);
  transition: 2s;
}
.car-sub-card5{
  padding-bottom: 15px;
  /* margin-left: 30px; */
  margin-right: 20px;
width: 560px;
margin-top: 20px;
overflow: hidden;
border-radius: 20px;
background-color: gainsboro;
 /* border: 2px solid black; */
}
/* .car-sub-card5 .img{
  margin-top: 30px;
} */
.car-sub-card5 .img:hover{
   
  transform: scale(1.1);
  transition: 2s;
}
.mini-car-card1{
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  gap: 140px;
 
}
.mini-car-card1 h6{
  font-size: 20px;
}
.mini-car-card1 h6 span{
  font-size: 15px;
  width: 150px;
  
}
.mini-car-card2{
  margin-top: 0px;
  display: flex;
  justify-content: space-around;
  gap: 140px;
 
}
.mini-car-card2 h6{
  font-size: 20px;
}
.mini-car-card2 h6 span{
  font-size: 15px;
  width: 150px;
  
}
.mini-car-card3{
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  gap: 140px;
 
}
.mini-car-card3 h6{
  font-size: 20px;
}
.mini-car-card3 h6 span{
  font-size: 15px;
  width: 150px;
  
}
.mini-car-card4{
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  gap: 140px;
 
}
.mini-car-card4 h6{
  font-size: 20px;
}
.mini-car-card4 h6 span{
  font-size: 15px;
  width: 150px;
  
}
.mini-car-card5{
  display: flex;
  justify-content: space-around;
  gap: 140px;
 
}
.mini-car-card5 h6{
  font-size: 20px;
}
.mini-car-card5 h6 span{
  font-size: 15px;
  width: 150px;
  
}
.mini-card1{
   border-top: 1px solid rgba(172, 169, 169, 0.856);
   margin-top: 20px;
   display: flex;
   padding-top: 20px;
   margin-left: 10px;
   margin-right: 10px;
  
   justify-content: space-around;
}
.gear-box1{
  display: flex;
}
.gear-box2{
  display: flex;
}
.gear-box3{
display: flex;
}
.forth-section{
  margin-top: 100px;
   padding-left: 10px;
   padding-right: 10px;
   display: flex;
   gap: 50px;
   border: 2px solid black;
}

.category-card{
   display: flex;
   margin-top: 20px;
   gap: 60px;
   justify-content: space-between;
   /* border: 2px solid black; */
}
.category-box1{
    width: 200px;
    padding-top: 40px;
    border-radius: 10px;
    text-align: center;
    background-color: #999a9946;
    height: 250px;
 
}
 .category-box1:hover{
  background-color: hsl(55, 93%, 48%);
  transition: 3s;
}
.category-box1 img{
  border-radius: 100%;
  width: 120px;
}
.category-box2{
    width: 200px;
    padding-top: 40px;
    border-radius: 10px;
    text-align: center;
    height: 250px;
 background-color: #999a9946;
}
.category-box2:hover{
  background-color: hsl(55, 93%, 48%);
  transition: 3s;
}
.category-box2 img{
  border-radius: 100%;
  width: 120px;
}
.category-box4{
    width: 200px;
    padding-top: 40px;
    border-radius: 10px;
    text-align: center;
    height: 250px;
  background-color: #999a9946;
}
.category-box4:hover{
 background-color: hsl(55, 93%, 48%);
  transition: 3s;
}
.category-box4 img{
  border-radius: 100%;
  width: 120px;
}
.category-box3{
    width: 200px;
    padding-top: 40px;
    border-radius: 10px;
    text-align: center;
    height: 250px;
background-color: #999a9946;
}
.category-box3:hover{
 background-color: hsl(55, 93%, 48%); background-color: #ebbc21;
  transition: 3s;
}
.category-box3 img{
  border-radius: 100%;
  width: 120px;
}
.category-box1 h3{
  margin-top: 20px;
}
.category-box2 h3{
  margin-top: 20px;
}
.category-box3 h3{
  margin-top: 20px;
}
.category-box4 h3{
  margin-top: 20px;
}